server {
    listen 80 default_server;
    listen 443 default_server ssl;
    {% if ipv6 %}
    listen [::]:80 default_server;
    listen [::]:443 default_server ssl;
    {% endif %}

    server_name  _;

    ssl_certificate     /etc/nginx/tls/self.crt;
    ssl_certificate_key /etc/nginx/tls/self.key;
    ssl_stapling off;
    ssl_stapling_verify off;

    return 404;
}
