#/bin/sh
set -x

if [ -f .env ]; then
        export $(echo $(cat .env | sed 's/#.*//g'| xargs) | envsubst)
fi

CA_SERVER="${CA_SERVER:-}"
EAB_KID="${EAB_KID:-}"
EAB_HMAC="${EAB_HMAC:-}"
KEY_TYPE="${KEY_TYPE:-ec256}"
COMMAND="$1"
EMAIL="${2:-$EMAIL}"
DOMAIN="$3"
ENDPOINT="/opt/lego/lego"

if [ ! -z "$CA_SERVER" ]
then
        ENDPOINT+=" --server $CA_SERVER"
fi
if [ ! -z "$EAB_KID" ]
then
        ENDPOINT+=" --eab --kid $EAB_KID --hmac $EAB_HMAC"
fi

if [ $COMMAND == 'run' ]
then
        echo "Run"
        $ENDPOINT -a -k $KEY_TYPE --path /var/lego --email $EMAIL --http --http.webroot="/usr/share/nginx/acme-challenge" --domains $DOMAIN run
elif [ $COMMAND == 'renew' ]
then
        echo "Renew"
        $ENDPOINT -a -k $KEY_TYPE --path /var/lego --email $EMAIL --domains $DOMAIN --http --http.webroot=/usr/share/nginx/acme-challenge renew --days 30 --renew-hook="/usr/bin/at 4am tomorrow -f /var/lego/reload_at.sh"
fi