pcre_jit on;
user www-data;

worker_processes auto;
worker_rlimit_nofile 65535;

pid        /var/run/nginx.pid;

# comment below line if you need accuracy log time or request uuid
timer_resolution 10ms;

events {
    use epoll;
    multi_accept on;
    worker_connections 65535;
}

include /etc/nginx/modules-enabled/*.conf;

http {
    include /etc/nginx/mime.types;
    
    include /etc/nginx/conf.d/*.conf;
}