fastcgi_split_path_info ^(.+\.php)(/.+)$;
try_files $fastcgi_script_name =404;

set             $path_info $fastcgi_path_info;
fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
fastcgi_param   PATH_INFO $path_info;
fastcgi_param   HTTP_PROXY "";

fastcgi_index           index.php;
fastcgi_read_timeout    60;
fastcgi_buffering       on;
fastcgi_buffer_size     64k;
fastcgi_buffers         8 64k;

include fastcgi_params;