location ~ /\.  {
    deny all;
    access_log off;
    log_not_found off;
    return 404;
}

location ~* ^.+\.(?:css|cur|js|jpe?g|gif|htc|ico|png|otf|ttf|eot|woff|svg)$ {
    try_files $uri =404;
    access_log off;
    log_not_found off;
    expires 365d;
}

location ~* \.(eot|ttf|woff)$ {
    add_header Access-Control-Allow-Origin '*';
}