server {
    listen 443 ssl;
    http2 on;

    server_name {{ main_domain }};
    
    ssl_certificate     /etc/nginx/tls/self.crt;
    ssl_certificate_key /etc/nginx/tls/self.key;
    
    include acme;
    include security;

    location / {
        return 404;
    }
}

server {
    listen 80;
    server_name {{ main_domain }};
    
    include acme;

    location / {
        return 301 https://{{ main_domain }}$request_uri;
    }
}