server {
    listen 80;
    server_name {{ main_domain }} {{ alter_domains.replace(',', ' ') }};
    
    location /.well-known {
        alias /usr/share/nginx/acme-challenge/.well-known;
    }
    location / {
        return 301 https://{{ main_domain }}$request_uri;
    }
}
server {
    listen 443 ssl http2;
    server_name {{ main_domain }} {{ alter_domains.replace(',', ' ') }};
    root /home/{{ username }}/{{ main_domain }};
    
    ssl_certificate     /etc/nginx/tls/self.crt;
    ssl_certificate_key /etc/nginx/tls/self.key;
    
    include tls_snippet;

    include server_snippet;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        include php_fastcgi;
        fastcgi_pass unix:/var/run/php/php{{ php_ver | default ('7.4') }}-fpm.{{ username }}.sock;
    }
}