server {
    listen 443 ssl;
    {% if ipv6 %}
    listen [::]:443 ssl;
    {% endif %}

    http2 on;

    {% if http3 %}
    listen 443 quic;
    {% if ipv6 %}
    listen [::]:443 quic;
    {% endif %}
    http3 on;
    add_header Alt-Svc 'h3=":443"; ma=86400';
    {% endif %}
    
    server_name {{ main_domain }} {{ alter_domains.replace(',', ' ') }};

    ssl_certificate     /etc/nginx/tls/self.crt;
    ssl_certificate_key /etc/nginx/tls/self.key;
    
    set  $base /home/{{ username }}/{{ main_domain }};
    root $base;
    
    include acme;
    include security;
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;

    index   index.php;
    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    include general;

    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php/php{{ php_ver }}-fpm.{{ username }}.sock;
        include php_fastcgi;
    }
}

server {
    listen 80;
    server_name {{ main_domain }} {{ alter_domains.replace(',', ' ') }};
    
    include acme;

    location / {
        return 301 https://{{ main_domain }}$request_uri;
    }
}
