server {
    listen 80;
    server_name {{ main_domain }} {{ alter_domains.replace(',', ' ') }};
    set  $base /home/{{ username }}/{{ main_domain }};
    root $base;
    
    include server_snippet;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        include php_fastcgi;
        fastcgi_pass unix:/var/run/php/php{{ php_ver }}-fpm.{{ username }}.sock;
    }
}