#!/bin/bash
set -x
umask 027

if [ -z "$3" ]
then
    echo "Please input database names and remote storage name , bucket"
    exit 1
fi

ARG_DB="$1"
REMOTE="$2"
BUCKET="$3"

if [[ "$ARG_DB" = "ALL" ]]
then
    BACKUP_DBS=$(echo "show databases" | mysql | grep -Ev "^(Database|mysql|performance_schema|information_schema|sys)$")
elif [[ ${ARG_DB:0:1} == "-" ]]
then
    BACKUP_DBS=$(echo "show databases" | mysql | grep -Ev "^(Database|mysql|performance_schema|information_schema|sys)$" | grep -Ev "${ARG_DB:1}")
elif [[ ${ARG_DB:0:1} == "+" ]]
then
    BACKUP_DBS=$(echo "show databases" | mysql | grep -Ev "^(Database|mysql|performance_schema|information_schema|sys)$" | grep -E "${ARG_DB:1}")
else
    BACKUP_DBS="$ARG_DB"
fi

echo "$BACKUP_DBS"

TODAY=`date +%Y-%m-%d`
RM_DAY=`date --date="14 days ago" +%Y-%m-%d`
HOSTIP=`curl --silent https://icanhazip.com/`
COMPRESSED_FILENAME=$TODAY.$ARG_DB.tar.gz
RM_FILENAME=$RM_DAY.$ARG_DB.tar.gz

mkdir -p /tmp/mybackup/$TODAY
cd /tmp/mybackup

echo "Backup databases in $TODAY ...."
for DB in $BACKUP_DBS
do
    mysqldump --skip-tz-utc --opt --no-autocommit --single-transaction --routines --no-tablespaces --force ${BACKUP_DBS} > "${TODAY}/${DB}.sql"
done

echo "Compressing databases ..."
tar -czvf $COMPRESSED_FILENAME $TODAY

echo "Uploading to Cloud Storage ...."
rclone copy "${COMPRESSED_FILENAME}" "${REMOTE}:${BUCKET}/${HOSTIP}/"

echo "Delete remote file ..."
rclone delete "${REMOTE}:${BUCKET}/${HOSTIP}/${RM_FILENAME}"

echo "Cleaning ..."
rm -rf /tmp/mybackup
