[mysqld]
bind_address    = 127.0.0.1
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
log-error       = /var/log/mysql/error.log

disable_log_bin
skip_name_resolve

connect_timeout      = 5
max_allowed_packet   = {{ mysql_max_allowed_packet   | default("16M") }}
max_connections      = {{ mysql_max_connections      | default("150") }}
max_heap_table_size  = {{ mysql_max_heap_table_size  | default((ansible_memtotal_mb / 1024 * 64) | int | string + "M") }}
open_files_limit     = {{ mysql_open_files_limit     | default((ansible_memtotal_mb * 128 / 4)   | int) }}
read_rnd_buffer_size = {{ mysql_read_rnd_buffer_size | default("2M") }}
read_buffer_size     = {{ mysql_read_buffer_size     | default("2M")}}
sort_buffer_size     = {{ mysql_sort_buffer_size     | default("2M") }}
table_open_cache     = {{ mysql_table_open_cache     | default("2000") }}
tmp_table_size       = {{ mysql_tmp_table_size       | default((ansible_memtotal_mb / 1024 * 64) | int | string + "M") }}
wait_timeout         = {{ mysql_wait_timeout         | default("300") }}

innodb_buffer_pool_size       = {{ innodb_buffer_pool_size | default((ansible_memtotal_mb * 40 / 100) | int | string + "M") }}
innodb_buffer_pool_chunk_size = {{ innodb_buffer_pool_chunk_size | default("128M") }}
innodb_log_file_size          = 256M
innodb_file_per_table         = 1
innodb_flush_method           = O_DIRECT
innodb_io_capacity            = {{ innodb_io_capacity | default("400") }}
innodb_log_buffer_size        = {{ innodb_log_buffer_size | default("8M") }}
innodb_strict_mode            = 1